/* *

  * ****************************************************
  * ******************** (Index) ***********************
  * ****************************************************

  * contact
  * contact media query
  * contact__content
  * contact__content__first
  * contact__content__first media query
  * contact__content__first__logo
  * contact__content__first__logo media query
  * contact__content__first__logo::before
  * contact__content__first__logo::first-letter
  * contact__content__first__logo a
  * contact__content__line
  * contact__content__line media query
  * contact__content__first__form
  * contact__content__first__form media query
  * contact__content__first__form input & contact__content__first__form textarea
  * contact__content__first__form input & contact__content__first__form textarea media query
  * contact__content__first__form textarea
  * contact__content__first__form input::placeholder & contact__content__first__form textarea::placeholder
  * contact__content__first__form input[type="submit"]
  * .contact__content__first__form input[type="submit"]:hover
  * contact__content__second
  * contact__content__second media query
  * contact__content__second__socials
  * contact__content__second__socials media query
  * contact__content__second__socials__anchor
  * contact__content__second__socials__anchor:hover
  * contact__content__second__socials__anchor:first-child
  * contact__content__second__socials__anchor:nth-child(2)
  * contact__content__second__socials__anchor:nth-child(3)
  * contact__content__second__socials__anchor:nth-child(4)
  * contact__content__second__socials__anchor::after
  * contact__content__second__socials__anchor:hover:after
  * contact__content__second__copyright
  * contact__content__second__copyright media query
  * contact__content__second__copyright__name
  * contact__content__second__copyright__name::before

  * ****************************************************
*/

.contact {
  margin-top: 20rem;
}

@media (max-width: 991px) {
  .contact {
    margin-top: 70rem;
  }
}

.contact__content {
  width: 90%;
  text-align: center;
  margin: 10rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(24, 28, 37);
}

.contact__content__first {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media (max-width: 768px) {
  .contact__content__first {
    height: 40vh;
  }
}

.contact__content__first__logo {
  position: relative;
  margin: 0;
  padding: 5px;
  border-radius: 7px;
  letter-spacing: 2px;
  font-size: 2.2rem;
  font-weight: bold;
  text-transform: capitalize;
  background-color: rgba(158, 158, 158, 0.219);
}

@media (max-width: 991px) {
  .contact__content__first__logo {
    display: none;
  }
}

.contact__content__first__logo::before {
  content: "";
  position: absolute;
  bottom: 3px;
  left: 5px;
  width: 15px;
  height: 3px;
  background-color: var(--main-color);
}

.contact__content__first__logo::first-letter {
  color: var(--main-color);
  font-size: 2.7rem;
}

.contact__content__first__logo a {
  color: #fff;
}

.contact__content__line {
  height: 100%;
  border: 1px solid var(--main-color);
  border-radius: 10px;
}

@media (max-width: 991px) {
  .contact__content__line {
    display: none;
  }
}

.contact__content__first__form {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

@media (max-width: 991px) {
  .contact__content__first__form {
    width: 86%;
  }
}

.contact__content__first__form input,
.contact__content__first__form textarea {
  width: 100%;
  padding: 9px;
  margin-bottom: 5px;
  background-color: transparent;
  color: #fff;
  border: 1px solid rgba(163, 163, 163, 0.226);
  outline: none;
  border-radius: 6px;
  font-size: 1.4rem;
  letter-spacing: 1.2px;
}

@media (max-width: 991px) {
  .contact__content__first__form input,
  .contact__content__first__form textarea {
    margin-bottom: 10px;
  }
}

.contact__content__first__form textarea {
  width: 100%;
  height: 100px;
  resize: vertical;
}

.contact__content__first__form input::placeholder,
.contact__content__first__form textarea::placeholder {
  color: rgba(209, 209, 209, 0.226);
  text-transform: capitalize;
}

.contact__content__first__form input[type="submit"] {
  background-color: var(--main-color);
  cursor: pointer;
  text-transform: capitalize;
  transition: opacity 0.3s ease-in;
}

.contact__content__first__form input[type="submit"]:hover {
  opacity: 0.8;
}

.contact__content__second {
  width: 100%;
  height: 10vh;
  text-align: center;
  margin: 0 auto;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

@media (max-width: 768px) {
  .contact__content__second {
    margin-top: -6rem;
  }
}

.contact__content__second__socials {
  width: 35%;
  margin: 0 auto 2rem;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media (max-width: 768px) {
  .contact__content__second__socials {
    width: 20%;
  }
}

.contact__content__second__socials__anchor {
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 20px;
  border: 1px solid var(--main-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 1rem;
  font-size: 2rem;
  background-color: transparent;
  overflow: hidden;
  z-index: 3;
  transition: transform 0.3s ease-in;
}

.contact__content__second__socials__anchor:hover {
  transform: scale(0.8999);
}

.contact__content__second__socials__anchor:first-child {
  color: #1877f2;
}

.contact__content__second__socials__anchor:nth-child(2) {
  color: #1da1f2;
}

.contact__content__second__socials__anchor:nth-child(3) {
  color: #c32aa3;
}

.contact__content__second__socials__anchor:nth-child(4) {
  color: #1877f2;
}

.contact__content__second__socials__anchor::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(32, 36, 43, 0.87);
  z-index: 1;
  transition: width 0.3s ease;
}

.contact__content__second__socials__anchor:hover:after {
  width: 100%;
  z-index: -1;
}

.contact__content__second__copyright {
  margin-top: 14px;
  color: rgba(255, 255, 255, 0.466);
  font-size: 1.3rem;
  letter-spacing: 1.4px;
  text-transform: capitalize;
}

@media (max-width: 768px) {
  .contact__content__second__copyright {
    font-size: 1.2rem;
  }
}

.contact__content__second__copyright__name {
  color: var(--main-color);
  position: relative;
}

.contact__content__second__copyright__name::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--main-color);
}
