.services__content {
  width: 100%;
  height: 52.5vh;
  position: relative;
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services__content__left,
.services__content__right {
  width: 40rem;
  height: 40rem;
  padding: 2rem 25px;
  border-radius: 50%;
  border: 1px solid rgba(105, 105, 105, 0.452);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  color: #fff;
  font-size: 1.3rem;
  text-transform: capitalize;
  line-height: 20px;
  letter-spacing: 2px;
  z-index: 25;
  transition: background-color 0.5s ease-out;
}

.services__content__left::before,
.services__content__right::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--main-color);
  transition: transform 0.4s ease-in-out;
  transition-delay: 0.1s;
}

.services__content__left:hover::before,
.services__content__right:hover::before {
  transform: translate(-50%, -50%) scale(1);
  z-index: -10;
}

.services__content__left {
  left: 22%;
}

.services__content__left:hover .services__content__right {
  background-color: rgb(24, 28, 37);
  z-index: 3;
}

.services__content__right {
  right: 22%;
}

.services__content__right:hover .services__content__left {
  background-color: rgb(24, 28, 37);
  z-index: 10;
}

.services__content__left__img,
.services__content__right__img {
  width: 20%;
}

.services__content__left__img img,
.services__content__right__img img {
  width: 100%;
  object-fit: cover;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s ease-out, opacity 0.5s ease-out;
  transition-delay: 0.1s;
}

.services__content__left:hover .services__content__left__img img {
  visibility: visible;
  opacity: 1;
}

.services__content__right:hover .services__content__right__img img {
  visibility: visible;
  opacity: 1;
}
